/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ここから */

body{
    /* background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */
    background-color: #85FFBD;
background-image: linear-gradient(200deg, #85FFBD 20%, #FFFB7D 50%, #85f0f0 85%, #ffffff 100%);
       
    overflow-y: hidden;
} 

.form{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form form{
    background-color: white;
    width: 70%;
    max-width: 380px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
}

.uiForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
}

.formField{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formField input {
    border: 1px solid grey;
    padding: 14px;
    border-radius: 4px;
}

.formField input:focus{
    outline: none;
}

.formField label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
}

.rbtn{
    background-color: #FAACA8;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: aliceblue;
    transition: all 0.2s;
}

.rbtn:hover{
    background-color: #e49c98;
}
